.simple-timepicker {
  white-space: normal;
  width: 150px;
  background: #fefefe;
  font-size: 12px;
  text-align: center;
  color: #333;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #dddddd;
}
.simple-timepicker.inline {
  border: none;
  padding: 0;
}
.simple-timepicker .time {
  font-size: 14px;
  margin: 2px 0 5px 0;
}
.simple-timepicker .picker .meridiem {
  display: inline-block;
  margin-right: 5px;
}
.simple-timepicker .picker .meridiem .clock {
  padding: 2px 3px;
  cursor: pointer;
  background: #f0f0f0;
}
.simple-timepicker .picker .meridiem .clock:hover {
  background: #C2D8FF;
}
.simple-timepicker .picker .meridiem .clock.active {
  background: #c3deee;
}
.simple-timepicker .picker .hours, .simple-timepicker .picker .minutes {
  display: inline-block;
  width: 40px;
  vertical-align: top;
}
.simple-timepicker .picker .divider {
  position: relative;
  color: #939393;
  top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.simple-timepicker .picker .hour, .simple-timepicker .picker .minute {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  background: #f0f0f0;
}
.simple-timepicker .picker .hour:hover, .simple-timepicker .picker .minute:hover {
  background: #C2D8FF;
}
.simple-timepicker .picker .hour.active, .simple-timepicker .picker .minute.active {
  background: #c3deee;
}
.simple-timepicker .buttons {
  margin: 10px 0 5px 0;
}
.simple-timepicker .buttons .btn {
  margin-right: 5px;
}
.simple-timepicker .buttons .link {
  color: #666666;
}
.simple-timepicker .buttons .link:hover {
  color: #4298ba;
}
