$active-color: #c3deee;
$default-color: #f0f0f0;
$hover-color: #C2D8FF;
$bg-color: #fefefe;

.simple-timepicker {
  white-space: normal;
  width: 150px;
  background: $bg-color;
  font-size: 12px;
  text-align: center;
  color: #333;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #dddddd;

  &.inline {
    border: none;
    padding: 0;
  }

  .time {
    font-size: 14px;
    margin: 2px 0 5px 0;
  }

  .picker {
    .meridiem {
      display: inline-block;
      margin-right: 5px;
      .clock {
        padding: 2px 3px;
        cursor: pointer;
        background: $default-color;
        &:hover {
          background: $hover-color;
        }
        &.active {
          background: $active-color;
        }
      }
    }

    .hours, .minutes {
      display: inline-block;
      width: 40px;
      vertical-align: top;
    }

    .divider {
      position: relative;
      color: #939393;
      top: 25px;
      font-size: 20px;
      font-weight: bold;
    }

    .hour, .minute {
      box-sizing: border-box;
      height: 20px;
      width: 20px;
      display: inline-block;
      cursor: pointer;
      background: $default-color;
      &:hover {
        background: $hover-color;
      }
      &.active {
        background: $active-color;
      }
    }
  }

  .buttons {
    margin: 10px 0 5px 0;

    .btn {
      margin-right: 5px;
    }

    .link {
      color: #666666;
      &:hover {
        color: #4298ba;
      }
    }
  }
}
