.simple-timepicker {
  width: 200px;
  background: #fff;
  font-size: 12px;
  display: none;
}
.simple-timepicker a {
  text-decoration: none;
}
.simple-timepicker .timepicker-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}
.simple-timepicker .timepicker-header input {
  display: inline-block;
  outline: 0;
  text-align: center;
}
.simple-timepicker .timepicker-header input.hour-input {
  width: 25%;
}
.simple-timepicker .timepicker-header input.minute-input {
  width: 25%;
}
.simple-timepicker .timepicker-header span {
  margin: 0 5px;
}
.simple-timepicker .timepicker-header span:last-child {
  margin-right: 0;
}
.simple-timepicker .timepicker-panels .panel {
  display: none;
  width: 100%;
}
.simple-timepicker .timepicker-panels .panel.active {
  display: block;
}
.simple-timepicker .timepicker-panels .panel a.panel-item {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  width: 25%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.simple-timepicker .timepicker-panels .panel a.panel-item:hover {
  background: #cbe0ff;
}
.simple-timepicker .timepicker-panels .panel a.panel-item.selected {
  background: #cce5f1;
}
.simple-timepicker .timepicker-panels .panel.panel-hour a.panel-item {
  width: 16.66%;
  padding: 6px 8px;
}
.simple-timepicker .timepicker-panels .panel.panel-hour a.panel-item:nth-child(n + 7):not(:nth-child(n + 13)) {
  border-bottom: 1px dashed #dfdfdf;
}
