$hover-color: #cbe0ff;
$selected-color: #cce5f1;
$border-color: #e7e7e7;

.simple-timepicker {
  width: 200px;
  background: #fff;
  font-size: 12px;
  display: none;

  a {
    text-decoration: none;
  }

  .timepicker-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid $border-color;

    input {
      display: inline-block;
      outline: 0;
      text-align: center;

      &.hour-input {
        width: 25%;
      }
      &.minute-input {
        width: 25%;
      }
    }

    span {
      &:last-child {
        margin-right: 0;
      }
      margin: 0 5px;
    }
  }

  .timepicker-panels {

    .panel {
      display: none;
      width: 100%;

      &.active {
        display: block;
      }

      a.panel-item {
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        width: 25%;
        text-align: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background: $hover-color;
        }

        &.selected {
          background: $selected-color;
        }
      }

      &.panel-hour {
        a.panel-item {
          width: 16.66%;
          padding: 6px 8px;

          &:nth-child(n + 7):not(:nth-child(n + 13)) {
            border-bottom: 1px dashed #dfdfdf;
          }
        }
      }

    }

  }
}